:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f5f5f5;
  --ueb-height: 100vh;
}

code {
  display: block;
  height: 100vh;
}

ueb-blueprint {
  display: block;
}
